<mat-form-field class="example-full-width">
	<input type="text" placeholder="Select Superhero" aria-label="Select Users" matInput [matAutocomplete]="auto"
		[formControl]="userControl">
	<mat-hint>Enter text to find superhero by name</mat-hint>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
	<mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
	<mat-option [disabled]="selectedUsers.length==4?true:false" *ngFor="let user of filteredUsers"
		[value]="selectedUsers">
		<div (click)="optionClicked($event, user)">
			<mat-checkbox [checked]="user.selected" (change)="toggleSelection(user)" (click)="$event.stopPropagation()">
				{{ user.name }}
			</mat-checkbox>
		</div>
	</mat-option>
</mat-autocomplete>

<br><br>
<div id="chartdiv" style="width: 100%; height: 400px"></div>
<br><br>
<button (click)="reset()">Reset</button><button (click)="compare()">Compare</button>
<br><br>
<label>Selected Superhero:</label>
<mat-list dense>
	<mat-list-item *ngIf="selectedUsers?.length === 0">(None)</mat-list-item>
	<mat-list-item (click)="favourite(user)" *ngFor="let user of selectedUsers">
		{{ user.name }}
	</mat-list-item>
</mat-list>
<br><br>
<label>Favourite Superhero:</label>
<mat-list dense>
	<mat-list-item *ngIf="favouriteUsers?.length === 0">(None)</mat-list-item>
	<mat-list-item *ngFor="let user of favouriteUsers">
		{{ user.name }}
	</mat-list-item>
</mat-list>